*{
    padding: 0;
    margin: 0;
}
body{
    background-color: rgb(230, 213, 246);
}
.dashboard{
    height: 100px;
    width: calc(100% - 350px);
    position: absolute;
    left: 320px;
    transition: .2s ease-in-out;
}

.dashboard.active{
    width: calc(100% - 100px);
    left: 80px;
}
.container-flexer{
    display: flex;
    align-items: center;
    padding: 0 20px;
    flex-wrap: wrap;
}
#piechart{
    width: 700px;
    overflow: hidden;
    height: 500px;
    margin-left: -80px;
}
.monthly-budget{
    margin: 0 auto;
}
form{
    
}
.form-group{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px 0;
}
.form-group label{
    font-size: 1.2em;
    font-weight: 600;
    margin-bottom: 5px;
}
.form-group input{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    font-size: 1.2em;
}
.form-group button{
    padding: 10px 16px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    font-size: 1.2em;
    font-weight: 600;
    cursor: pointer;
}
.container-flexer-2{
    display: flex;
    /* align-items: center; */
    padding: 20px;
    flex-wrap: wrap;
}
.top-contributors{
    padding: 20px;
    margin: 20px 30px;
    width: 300px;
    background-color: white;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}
#piechart-friends{
    width: 700px;
    overflow: hidden;
    height: 500px;
}
@media screen and (max-width: 576px){
    .dashboard{
        filter: blur(5px);
    }
    .dashboard.active{
        filter: none;
    }
    .form-group input{
        padding: 4px 2px;
        font-size: 12px;
    }
    ::placeholder{
        font-size: 12px;
    }
    #piechart, #piechart-friends{
        height: 350px;
    }
    .form-group button{
        padding: 5px 5px;
        font-size: 12px;
    }
    
}